<!doctype html>
<html lang="de" data-ng-app="serviceCenterApp">
    <head>
        <meta charset="utf-8">
        <title>Contact Details</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="no">
        <meta name="mobile-web-app-capable" content="no">
        <meta name="apple-mobile-web-app-title" content="Contact Details">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="stylesheet" href="css/old_app.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
       
    <section class="block">
		<h2 style="text-align:left;">Search</h2>
		<div class="divider"></div>
		<section class="cols-12">
		<form action="#" class="ng-pristine ng-valid">
            <ul id="advancedSearchSlide">
				<li class="cols-3 ng-scope">
					<table class="noborder">
						<tr>
							<th>
							  <label for="">Name:</label>
							</th>
							<td>
							  <fieldset>
								<input type="text" id="" placeholder="Placeholder" value="">
							  </fieldset>
							</td>
						</tr>
						<tr>
							<th>
							  <label for="">ZIP Code/City:</label>
							</th>
							<td>
							  <fieldset>
								<input type="text" class="tinyTextbox" id="" placeholder="Placeholder" value="">
								<input type="text" id="" class="MutliTextbox" placeholder="Placeholder" value="">
							  </fieldset>
							</td>
						</tr>
						<tr>
							<th>
							  <label for="">Street/Nr:</label>
							</th>
							<td>
							  <fieldset>
								<input type="text" class="MutliTextbox" id="" placeholder="Placeholder" value="">
								<input type="text" id="" class="tinyTextbox" placeholder="Placeholder" value="">
							  </fieldset>
							</td>
						</tr>
					</table>
				</li>
				
				<li class="cols-3 ng-scope">
					<table class="noborder">
						<tr>
							<th>
							  <label for="">Date of Birth</label>
							</th>
							<td>
							<fieldset>
								<input type="date" data-ng-click="open = true" data-is-open="open" data-close-text="Close" data-ng-model="dt" data-datepicker-popup="" name="dt" class="ng-pristine ng-untouched ng-valid ng-isolate-scope">
								<i class="icon-calendar fa fa-calendar"></i>
								
							</fieldset>
							</td>
						</tr>
						<tr>
							<th>
							  <label for="">Tax ID</label>
							</th>
							<td>
							  <fieldset>
								<input type="text" id="" placeholder="Placeholder" value="">
							  </fieldset>
							</td>
						</tr>
						<tr>
							<th>
							  <label for="">SIREN/SIRET</label>
							</th>
							<td>
							  <fieldset>
								<input type="text" id="" placeholder="Placeholder" value="">
							  </fieldset>
							</td>
						</tr>
					</table>
				</li>
				<li class="cols-3 ng-scope">
					<table class="noborder">
						<tr>
							<th>
							  <label for="">BPID/Contract No</label>
							</th>
							<td>
							  <fieldset>
								<input type="text" id="" placeholder="Placeholder" value="">
							  </fieldset>
							</td>
						</tr>
						<tr>
							<th>
							  <label for="">VIN/Registration</label>
							</th>
							<td>
							  <fieldset>
								<input type="text" id="" placeholder="Placeholder" value="">
							  </fieldset>
							</td>
						</tr>
						<tr>
							<th>
							  <label for="">E-Mail/Phone</label>
							</th>
							<td>
							  <fieldset>
								<input type="text" id="" placeholder="Placeholder" value="">
							  </fieldset>
							</td>
						</tr>
					</table>
				</li>
				
				<li class="cols-3 ng-scope last">
					<table class="noborder">
						<tr>
							<th>
							  <label for="">IBAN</label>
							</th>
							<td>
							  <fieldset>
								<input type="text" id="" placeholder="Placeholder" value="">
							  </fieldset>
							</td>
						</tr>
						<tr>
							<th>
							  <label for="">BIC</label>
							</th>
							<td>
							  <fieldset>
								<input type="text" id="" placeholder="Placeholder" value="">
							  </fieldset>
							</td>
						</tr>
						<tr>
							<th>
							  <label for="">User ID</label>
							</th>
							<td>
							  <fieldset>
								<select id="">
									<option value="All">All</option>
									<option value="Dealer">Dealer</option>
									<option value="Sales Manager">Sales Manager</option>
									<option value="DFS User">DFS User</option>
									<option value="Customer">Customer</option>
								</select>
							  </fieldset>
							</td>
						</tr>
					</table>
				</li>
				
				<li class="cols-12 ng-scope right-align">
							 <button class="primary">Start Advanced Search</button>			
				</li>
			</ul>
        </form>
		
		</section>
		
		<section class="block clearfix" data-ng-controller="searchSortCtrl">
		<h2 style="text-align:left;">Results ({{totalItems}})</h2>
		<span><h3 ng-hide="searchResults.length">No matches found</h3></span>
		<div class="result-table-accord">
			<div class="pull-left result-accord-line"></div>
			<div class="glyphicon glyphicon-triangle-top pull-right result-accord-icon"></div>    
		</div>
		<!--<div class="divider"></div>-->
										<!-- {{search}} -->

		<div class="clearfix collapse in" id="result-Accordion">
		<table>
			<thead>
				<tr>
					<th class="col-sm-1">Name
						<!-- <i class="fa fa-sort" ng-click="sort('Person.PersonNamings[0].FirstName')"></i> -->
						<i data-ng-class="updateClass('name', 'string')" class="fa fa-filter pull-right tms-ellipsis" data-ng-click="selectBox(1)"></i>
						<div class="tms-box" data-ng-show="isSelectedBox(1)">
							<div class="tms-box-sort">Sort Order: <span ng-click="sort('Person.PersonNamings[0].FirstName')">Default <i class="fa fa-sort"></i></span></div>
							<div class="tms-box-search">
								<i class="fa fa-search"></i>
								<input placeholder="Search" ng-model="search.name" type="text">
							</div>
						</div>
					</th>
					<th class="col-sm-1 hide-xs">Street
						<i data-ng-class="updateClass('street', 'string')" class="fa fa-filter pull-right tms-ellipsis" data-ng-click="selectBox(2)"></i>
						<div class="tms-box" data-ng-show="isSelectedBox(2)">
							<div class="tms-box-sort">Sort Order: <span ng-click="sort('LocationAddresses[0].PostalAddress.StreetLine')">Default <i class="fa fa-sort"></i></span></div>
							<div class="tms-box-search">
								<i class="fa fa-search"></i>
								<input placeholder="Search" ng-model="search.street" type="text">
							</div>
						</div>
						<!-- <i class="fa fa-sort" ng-click="sort('LocationAddresses[0].PostalAddress.StreetLine')"></i> -->
					</th>
					<th class="col-sm-1 hide-sm">ZIP
						<i data-ng-class="updateClass('postCode', 'string')" class="fa fa-filter pull-right tms-ellipsis" data-ng-click="selectBox(3)"></i>
						<div class="tms-box" data-ng-show="isSelectedBox(3)">
							<div class="tms-box-sort">Sort Order: <span ng-click="sort('LocationAddresses[0].PostalAddress.PostalCode')">Default <i class="fa fa-sort"></i></span></div>
							<div class="tms-box-search">
								<i class="fa fa-search"></i>
								<input placeholder="Search" ng-model="search.postCode" type="text">
							</div>
						</div>
						<!-- <i class="fa fa-sort" ng-click="sort('LocationAddresses[0].PostalAddress.PostalCode')"></i> -->
					</th>
					<th class="col-sm-1">City
						<i data-ng-class="updateClass('city', 'string')" class="fa fa-filter pull-right tms-ellipsis" data-ng-click="selectBox(4)"></i>
						<div class="tms-box" data-ng-show="isSelectedBox(4)">
							<div class="tms-box-sort">Sort Order: <span ng-click="sort('LocationAddresses[0].PostalAddress.City')">Default <i class="fa fa-sort"></i></span></div>
							<div class="tms-box-search">
								<i class="fa fa-search"></i>
								<input placeholder="Search" ng-model="search.city" type="text">
							</div>
						</div>
						<!-- <i class="fa fa-sort" ng-click="sort('LocationAddresses[0].PostalAddress.City')"></i> -->
					</th>
					<th class="col-sm-2 hide-md"><div class="dob">D.O.B./Foundation vchghghghghghgsjg shgfjhgsfjgsjgfjsgf</div>
						<i data-ng-class="updateClass('dOB', 'string')" class="fa fa-filter pull-right tms-ellipsis" data-ng-click="selectBox(5)"></i>
						<div class="tms-box" data-ng-show="isSelectedBox(5)">
							<div class="tms-box-sort">Sort Order: <span ng-click="sort('Person.DateOfBirth')">Default <i class="fa fa-sort"></i></span></div>
							<div class="tms-box-search">
								<i class="fa fa-search"></i>
								<input placeholder="Search" ng-model="search.dOB" type="text">
							</div>
						</div>
						<!-- <i class="fa fa-sort" ng-click="sort('Person.DateOfBirth')"></i> -->
					</th>
					<th class="col-sm-1">Type
						<i data-ng-class="updateClass('type', 'array')" class="fa fa-filter pull-right tms-ellipsis" data-ng-click="selectBox(6)"></i>
						<div class="tms-box" data-ng-show="isSelectedBox(6)">
							<div class="tms-box-sort">Sort Order: <span ng-click="sort('Person.Type')">Default <i class="fa fa-sort"></i></span></div>
							<!-- <div class="tms-box-sort">Sort Order: <span ng-click="sort('TaxInformations[0].TaxInformationIdentifier')">Default <i class="fa fa-sort"></i></span></div>
							<div class="tms-box-search">
								<i class="fa fa-search"></i>
								<input placeholder="Search" ng-model="search.taxID" type="text">
							</div> -->
							<div class="tms-box-search">
					      		<div ng-repeat="item in typeList">
					          		<input type="checkbox" checkbox-group />
					          		<label>{{item}}</label>
					      		</div>
					      	</div>


						</div>





					</th>
					<th class="col-sm-1">TaxID
						<i data-ng-class="updateClass('taxID', 'string')" class="fa fa-filter pull-right tms-ellipsis" data-ng-click="selectBox(7)"></i>
						<div class="tms-box" data-ng-show="isSelectedBox(7)">
							<div class="tms-box-sort">Sort Order: <span ng-click="sort('TaxInformations[0].TaxInformationIdentifier')">Default <i class="fa fa-sort"></i></span></div>
							<div class="tms-box-search">
								<i class="fa fa-search"></i>
								<input placeholder="Search" ng-model="search.taxID" type="text">
							</div>
						</div>
						<!-- <i class="fa fa-sort" ng-click="sort('TaxInformations[0].TaxInformationIdentifier')"></i> -->
					</th>
					<th class="col-sm-2">SIREN/SIRET
						<i data-ng-class="updateClass('siret', 'string')" class="fa fa-filter pull-right tms-ellipsis" data-ng-click="selectBox(8)"></i>
						<div class="tms-box" data-ng-show="isSelectedBox(8)">
							<div class="tms-box-sort">Sort Order: <span ng-click="sort('Person.SelfDisclosures[0].Siret')">Default <i class="fa fa-sort"></i></span></div>
							<div class="tms-box-search">
								<i class="fa fa-search"></i>
								<input placeholder="Search" ng-model="search.siret" type="text">
							</div>
						</div>
						<!-- <i class="fa fa-sort" ng-click="sort('Person.SelfDisclosures[0].Siret')"></i> -->
					</th>
					<th class="col-sm-1">BPID
						<i data-ng-class="updateClass('bPID', 'string')" class="fa fa-filter pull-right tms-ellipsis" data-ng-click="selectBox(9)"></i>
						<div class="tms-box m-rl-200" data-ng-show="isSelectedBox(9)">
							<div class="tms-box-sort">Sort Order: <span ng-click="sort('BusinessPartnerIdentifier')">Default <i class="fa fa-sort"></i></span></div>
							<div class="tms-box-search">
								<i class="fa fa-search"></i>
								<input placeholder="Search" ng-model="search.bPID" type="text">
							</div>
						</div>
						<!-- <i class="fa fa-sort" ng-click="sort('BusinessPartnerIdentifier')"></i> -->
					</th>
					<th class="col-sm-1">Match
						<i data-ng-class="updateClass('match', 'string')" class="fa fa-filter pull-right tms-ellipsis" data-ng-click="selectBox(10)"></i>
						<div class="tms-box m-rl-200" data-ng-show="isSelectedBox(10)">
							<div class="tms-box-sort">Sort Order: <span ng-click="sort('Person.SelfDisclosures[0].Match')">Default <i class="fa fa-sort"></i></span></div>
							<div class="tms-box-search">
								<i class="fa fa-search"></i>
								<input placeholder="Search" ng-model="search.match" type="text">
							</div>
						</div>
						<!-- <i class="fa fa-sort" ng-click="sort('Person.SelfDisclosures[0].Match')"></i> -->
					</th>
					<th class="col-sm-1">IBAN</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<!-- <td data-title="Name"><input placeholder="Search" ng-model="search.name" type="text"></td> -->
					<!-- <td data-title="Street/Nr" class="hide-xs"><input placeholder="Search" ng-model="search.street" type="text"></td> -->
					<!-- <td data-title="ZIP Code" class="hide-sm"><input placeholder="Search" ng-model="search.postCode" type="text"></td> -->
					<!-- <td data-title="city"><input placeholder="Search" ng-model="search.city" type="text"></td> -->
					<!-- <td data-title="Date of Birth/Foundation"><input placeholder="Search" ng-model="search.dOB" type="text"></td> -->
					<!-- <td data-title="Type"><input placeholder="Search" ng-model="search.type" type="text"></td> -->
					<!-- <td data-title="Tax ID"><input placeholder="Search" ng-model="search.taxID" type="text"></td> -->
					<!-- <td data-title="SIREN/SIRET"><input placeholder="Search" ng-model="search.siret" type="text"></td> -->
					<!-- <td data-title="BPID"><input placeholder="Search" ng-model="search.bPID" type="text"></td> -->
					<!-- <td data-title="Match"><input placeholder="Search" ng-model="search.match" type="text"></td> -->
					<td data-title="IBAN"></td>
				</tr>
				<tr ng-repeat="result in filteredSearchData" ng-class-even="'even'">
					<th data-title="Name">{{result.Person.PersonNamings[0].FirstName}} {{result.Person.PersonNamings[0].LastName}}</th>
					<td data-title="Street/Nr" class="hide-xs">{{result.LocationAddresses[0].PostalAddress.StreetLine}} {{result.LocationAddresses[0].PostalAddress.StreetNumber}}</td>
					<td data-title="ZIP Code" class="hide-sm">{{result.LocationAddresses[0].PostalAddress.PostalCode}}</td>
					<td data-title="city">{{result.LocationAddresses[0].PostalAddress.City}}</td>
					<td data-title="Date of Birth/Foundation">{{result.Person.DateOfBirth}}</td>
					<td data-title="Type">{{result.BusinessPartnerType.BusinessPartnerTypeCode}}</td>
					<td data-title="Tax ID">{{result.TaxInformations[0].TaxInformationIdentifier}}</td>
					<td data-title="SIREN/SIRET">{{result.Person.Siret}}</td>
					<td data-title="BPID">{{result.BusinessPartnerIdentifier}}</td>
					<td data-title="Match">{{result.Person.Match}}</td>
					<!--<td data-title="IBAN"><a href="#" class="IBAN-toolTip" data-toggle="tooltip" title="IBAN :{{result.BankAccounts[0].IBAN}}  BIC: {{result.BankAccounts[0].Bank.BankIdentificationCode}}">B</a></td>-->
					<td data-title="IBAN"><a data-popover="" data-html=true data-content="<div class='content-popover'>IBAN :{{result.BankAccounts[0].IBAN}} BIC :{{result.BankAccounts[0].Bank.BankIdentificationCode}}</div>">B</a></td>
				</tr>				
			</tbody>
		</table>

		<!-- <pagination  ng-model="currentPage" total-items="totalItems" max-size="maxSize"  boundary-links="true"></pagination> -->

   <!-- <div ng-show="filteredSearchData.result.length == 1"> -->
     <pagination id="change" 
    	total-items="totalItems"
    	data-ng-model="currentPage"
    	data-ng-change="pageChanged()"
    	items-per-page="numPerPage"
			previous-text="<"
			next-text=">" 
			boundary-links="true"
    	>
		</pagination> 
	
		</section>
    
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
			<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js'></script>
			<script data-require="ui-bootstrap@*" data-semver="0.12.1" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
			<script src="js/app.js"></script>
			<script src="js/controllers/searchSortController.js"></script>
			<script src="js/filters/searchFilter.js"></script>
			<script src="js/directives/checkboxGroup.js"></script>

			<script type="text/javascript">
				$(document).ready(function(){
					$('.IBAN-toolTip').tooltip({
						placement : 'bottom'
					});
				});
				$(".result-accord-icon").click(function(){
						$("#result-Accordion").collapse('toggle');
					});
					$('body').popover({ selector: '[data-popover]', trigger: 'hover', placement: 'bottom'});
			</script>
        
    </body>
</html>
