@charset "UTF-8";
/* TOOLS */
/* TOOLS & MIXINS */
/*!
 *  Font Awesome 4.3.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/font-awesome/fontawesome-webfont.eot?v=4.3.0");
  src: url("../fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("../fonts/font-awesome/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("../fonts/font-awesome/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("../fonts/font-awesome/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("../fonts/font-awesome/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa, .dropdown-menu .glyphicon.glyphicon-chevron-left, .dropdown-menu .glyphicon.glyphicon-chevron-right {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.3333333333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.2857142857em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.1428571429em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.1428571429em;
  width: 2.1428571429em;
  top: 0.1428571429em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.8571428571em; }

.fa-border {
  padding: 0.2em 0.25em 0.15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left, .dropdown-menu .pull-left.glyphicon.glyphicon-chevron-left, .dropdown-menu .pull-left.glyphicon.glyphicon-chevron-right {
  margin-right: .3em; }

.fa.pull-right, .dropdown-menu .pull-right.glyphicon.glyphicon-chevron-left, .dropdown-menu .pull-right.glyphicon.glyphicon-chevron-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-genderless:before,
.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

/* CORE STYLES */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'CorpoARegularCondensed';
  src: url("../fonts/corpoa/c062043eu-webfont.eot");
  src: url("../fonts/corpoa/c062043eu-webfont.eot?iefix") format("eot"), url("../fonts/corpoa/c062043eu-webfont.woff") format("woff"), url("../fonts/corpoa/c062043eu-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'CorpoSLight';
  src: url("../fonts/corposlight/CorporateS-Light.eot");
  src: url("../fonts/corposlight/CorporateS-Light.eot?iefix") format("eot"), url("../fonts/corposlight/CorporateS-Light.woff") format("woff"), url("../fonts/corposlight/CorporateS-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'CorpoSRegular';
  src: url("../fonts/corposreg/c063003eu.eot");
  src: url("../fonts/corposreg/c063003eu.eot?iefix") format("eot"), url("../fonts/corposreg/c063003eu.woff") format("woff"), url("../fonts/corposreg/c063003eu.ttf") format("truetype"); }

@font-face {
  font-family: 'CorpoSDemi';
  src: url("../fonts/corposdemi/corposdemi-webfont.eot");
  src: url("../fonts/corposdemi/corposdemi-webfont.eot?iefix") format("eot"), url("../fonts/corposdemi/corposdemi-webfont.woff") format("woff"), url("../fonts/corposdemi/corposdemi-webfont.ttf") format("truetype"); }

/* MEDIA QUERY SETTINGS */
/* GRID SETTINGS */
/* FONT SETTINGS */
/* FONT SIZES */
/* LINE HEIGHT */
/* COLORS */
/* NAVIGATION */
/* DEFAULT */
/* TABS */
/* BORDERS */
/* BUTTONS */
/* CURSORS */
/* TABLES */
* {
  box-sizing: border-box; }

.grid {
  padding: 0 0.8333333333%;
  text-align: left;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto; }
  .grid:after {
    content: " ";
    display: block;
    clear: both; }

section::after {
  clear: both;
  content: "";
  display: table; }

.block {
  padding: 10px 8px; }

.row {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  display: block; }
  .row::after {
    clear: both;
    content: "";
    display: table; }

.cols-1 {
  width: 100%;
  position: relative;
  text-align: left; }
  @media (min-width: 768px) {
    .cols-1 {
      width: 6.7796610169%;
      float: left;
      margin-right: 1.6949152542%; } }

.cols-2 {
  width: 100%;
  position: relative;
  text-align: left; }
  @media (min-width: 768px) {
    .cols-2 {
      width: 15.2542372881%;
      float: left;
      margin-right: 1.6949152542%; } }

.cols-3 {
  width: 100%;
  position: relative;
  text-align: left; }
  @media (min-width: 768px) {
    .cols-3 {
      width: 23.7288135593%;
      float: left;
      margin-right: 1.6949152542%; } }

.cols-4 {
  width: 100%;
  position: relative;
  text-align: left; }
  @media (min-width: 768px) {
    .cols-4 {
      width: 32.2033898305%;
      float: left;
      margin-right: 1.6949152542%; } }

.cols-5 {
  width: 100%;
  position: relative;
  text-align: left; }
  @media (min-width: 768px) {
    .cols-5 {
      width: 40.6779661017%;
      float: left;
      margin-right: 1.6949152542%; } }

.cols-6 {
  width: 100%;
  position: relative;
  text-align: left; }
  @media (min-width: 768px) {
    .cols-6 {
      width: 49.1525423729%;
      float: left;
      margin-right: 1.6949152542%; } }

.cols-7 {
  width: 100%;
  position: relative;
  text-align: left; }
  @media (min-width: 768px) {
    .cols-7 {
      width: 57.6271186441%;
      float: left;
      margin-right: 1.6949152542%; } }

.cols-8 {
  width: 100%;
  position: relative;
  text-align: left; }
  @media (min-width: 768px) {
    .cols-8 {
      width: 66.1016949153%;
      float: left;
      margin-right: 1.6949152542%; } }

.cols-9 {
  width: 100%;
  position: relative;
  text-align: left; }
  @media (min-width: 768px) {
    .cols-9 {
      width: 74.5762711864%;
      float: left;
      margin-right: 1.6949152542%; } }

.cols-10 {
  width: 100%;
  position: relative;
  text-align: left; }
  @media (min-width: 768px) {
    .cols-10 {
      width: 83.0508474576%;
      float: left;
      margin-right: 1.6949152542%; } }

.cols-11 {
  width: 100%;
  position: relative;
  text-align: left; }
  @media (min-width: 768px) {
    .cols-11 {
      width: 91.5254237288%;
      float: left;
      margin-right: 1.6949152542%; } }

.cols-12 {
  width: 100%;
  position: relative;
  text-align: left; }
  @media (min-width: 768px) {
    .cols-12 {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

table .cols-1 {
  width: 100%;
  position: relative;
  text-align: left; }
  @media (min-width: 768px) {
    table .cols-1 {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 8.3333333333%;
      float: left; } }

table .cols-2 {
  width: 100%;
  position: relative;
  text-align: left; }
  @media (min-width: 768px) {
    table .cols-2 {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 16.6666666667%;
      float: left; } }

table .cols-3 {
  width: 100%;
  position: relative;
  text-align: left; }
  @media (min-width: 768px) {
    table .cols-3 {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 25%;
      float: left; } }

table .cols-4 {
  width: 100%;
  position: relative;
  text-align: left; }
  @media (min-width: 768px) {
    table .cols-4 {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 33.3333333333%;
      float: left; } }

table .cols-5 {
  width: 100%;
  position: relative;
  text-align: left; }
  @media (min-width: 768px) {
    table .cols-5 {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 41.6666666667%;
      float: left; } }

table .cols-6 {
  width: 100%;
  position: relative;
  text-align: left; }
  @media (min-width: 768px) {
    table .cols-6 {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
      float: left; } }

table .cols-7 {
  width: 100%;
  position: relative;
  text-align: left; }
  @media (min-width: 768px) {
    table .cols-7 {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 58.3333333333%;
      float: left; } }

table .cols-8 {
  width: 100%;
  position: relative;
  text-align: left; }
  @media (min-width: 768px) {
    table .cols-8 {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 66.6666666667%;
      float: left; } }

table .cols-9 {
  width: 100%;
  position: relative;
  text-align: left; }
  @media (min-width: 768px) {
    table .cols-9 {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 75%;
      float: left; } }

table .cols-10 {
  width: 100%;
  position: relative;
  text-align: left; }
  @media (min-width: 768px) {
    table .cols-10 {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 83.3333333333%;
      float: left; } }

table .cols-11 {
  width: 100%;
  position: relative;
  text-align: left; }
  @media (min-width: 768px) {
    table .cols-11 {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 91.6666666667%;
      float: left; } }

table .cols-12 {
  width: 100%;
  position: relative;
  text-align: left; }
  @media (min-width: 768px) {
    table .cols-12 {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left; } }

.first {
  margin-left: 0; }

.last {
  float: right;
  margin-right: 0; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  position: relative; }
  [ng\:cloak] > *, [ng-cloak] > *, [data-ng-cloak] > *, [x-ng-cloak] > *, .ng-cloak > *, .x-ng-cloak > * {
    opacity: 0; }
  [ng\:cloak]:after, [ng-cloak]:after, [data-ng-cloak]:after, [x-ng-cloak]:after, .ng-cloak:after, .x-ng-cloak:after {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -10px;
    animation: rotation 0.6s infinite linear;
    border-left: 3px solid rgba(0, 174, 239, 0.15);
    border-right: 3px solid rgba(0, 174, 239, 0.15);
    border-bottom: 3px solid rgba(0, 174, 239, 0.15);
    border-top: 3px solid rgba(0, 174, 239, 0.8);
    border-radius: 100%; }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  text-align: center;
  font-family: "CorpoSLight", sans-serif;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5 {
  font-family: "CorpoARegularCondensed", serif;
  line-height: 1.2; }
  h1 a, h2 a, h3 a, h4 a, h5 a {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit; }

h1 {
  font-size: 36px;
  padding-bottom: 14px; }

h2 {
  font-size: 28px;
  padding-bottom: 12px; }

h3 {
  font-size: 20px;
  padding-bottom: 10px; }

p {
  color: #333;
  font-size: 14px;
  line-height: 1.2;
  padding-bottom: 8px; }

strong, b {
  font-family: "CorpoSDemi", sans-serif; }

u {
  text-decoration: underline; }

.text-center {
  text-align: center; }

.btn-group {
  margin-bottom: 4px; }
  .btn-group.vertical button, .btn-group.vertical .btn {
    display: block;
    margin-bottom: 4px; }

button, .btn, input[type=button], input[type=submit] {
  display: inline-block;
  min-width: 46px;
  max-height: 30px;
  margin: 0;
  padding: 3px 12px;
  text-align: center;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: "CorpoSRegular", sans-serif;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
  white-space: nowrap;
  color: #333;
  background-color: #ececec; }
  button:hover, .btn:hover, input[type=button]:hover, input[type=submit]:hover {
    color: #333;
    background-color: #d9d9d9; }
  button.primary, .btn.primary, input[type=button].primary, input[type=submit].primary {
    color: #fff;
    background-color: #00adef; }
    button.primary:hover, .btn.primary:hover, input[type=button].primary:hover, input[type=submit].primary:hover {
      color: #fff;
      background-color: #0088c6; }
  button.success, .btn.success, input[type=button].success, input[type=submit].success {
    color: #fff;
    background-color: #5cb85c; }
    button.success:hover, .btn.success:hover, input[type=button].success:hover, input[type=submit].success:hover {
      color: #fff;
      background-color: #449d44; }
  button.warning, .btn.warning, input[type=button].warning, input[type=submit].warning {
    color: #fff;
    background-color: #f0ad4e; }
    button.warning:hover, .btn.warning:hover, input[type=button].warning:hover, input[type=submit].warning:hover {
      color: #fff;
      background-color: #ec971f; }
  button.error, .btn.error, input[type=button].error, input[type=submit].error {
    color: #fff;
    background-color: #d9534f; }
    button.error:hover, .btn.error:hover, input[type=button].error:hover, input[type=submit].error:hover {
      color: #fff;
      background-color: #c9302c; }
  button.is-disabled, .btn.is-disabled, input[type=button].is-disabled, input[type=submit].is-disabled {
    cursor: default;
    color: #999;
    background-color: #ececec; }
    button.is-disabled:hover, .btn.is-disabled:hover, input[type=button].is-disabled:hover, input[type=submit].is-disabled:hover {
      color: #999;
      background-color: #ececec; }
  button .btn-icon, .btn .btn-icon, input[type=button] .btn-icon, input[type=submit] .btn-icon {
    font-size: 13px;
    margin-right: 6px; }
    button .btn-icon:first-child:last-child, .btn .btn-icon:first-child:last-child, input[type=button] .btn-icon:first-child:last-child, input[type=submit] .btn-icon:first-child:last-child {
      margin-left: 0;
      margin-right: 0; }

.link-group {
  margin-bottom: 4px; }
  .link-group.vertical a {
    display: block;
    margin-bottom: 4px;
    white-space: normal; }

a {
  font-family: "CorpoSRegular", sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #003366;
  outline: none;
  white-space: nowrap; }
  a:hover {
    color: #00adef;
    opacity: .8; }
  a .link-icon {
    font-size: 13px;
    min-width: 14px;
    text-align: center; }
    a .link-icon:first-child {
      margin-right: 6px; }
    a .link-icon:last-child {
      margin-left: 6px; }
    a .link-icon:first-child:last-child {
      margin-left: 0;
      margin-right: 0; }
  a.is-disabled {
    cursor: default;
    color: #999; }

.form-group {
  font-size: 0;
  padding-bottom: 8px; }
  .form-group::after {
    clear: both;
    content: "";
    display: table; }
  .form-group button, .form-group select, .form-group input[type="text"], .form-group input[type="email"], .form-group input[type="password"], .form-group input[type="search"], .form-group input[type="email"], .form-group input[type="tel"], .form-group input[type="url"], .form-group input[type="date"] {
    float: left;
    border-radius: 0;
    border: 1px solid #999; }
    .form-group button:first-child, .form-group select:first-child, .form-group input[type="text"]:first-child, .form-group input[type="email"]:first-child, .form-group input[type="password"]:first-child, .form-group input[type="search"]:first-child, .form-group input[type="email"]:first-child, .form-group input[type="tel"]:first-child, .form-group input[type="url"]:first-child, .form-group input[type="date"]:first-child {
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px; }
    .form-group button:last-child, .form-group select:last-child, .form-group input[type="text"]:last-child, .form-group input[type="email"]:last-child, .form-group input[type="password"]:last-child, .form-group input[type="search"]:last-child, .form-group input[type="email"]:last-child, .form-group input[type="tel"]:last-child, .form-group input[type="url"]:last-child, .form-group input[type="date"]:last-child {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px; }
  .form-group.two-buttons input[type="search"] {
    width: calc(100% - 92px); }

form {
  padding-bottom: 16px; }

fieldset {
  padding-bottom: 8px;
  display: inline-block;
  width: 100%; }
  fieldset > span {
    display: block;
    padding: 4px 8px 0;
    font-size: 12px; }
  fieldset.has-error label, fieldset.has-error input.ng-touched, fieldset.has-error select.ng-touched, fieldset.has-error textarea.ng-touched, fieldset.has-error span {
    color: #d9534f;
    border-color: #d9534f; }

label {
  display: block;
  position: relative;
  padding: 4px 8px;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: left; }
  label.radio-check {
    padding-left: 22px;
    position: relative; }
    label.radio-check.is-disabled {
      color: #999; }
    label.radio-check.has-error {
      color: #d9534f; }
    label.radio-check input {
      position: absolute;
      left: 0;
      margin-top: 3px; }
      label.radio-check input:focus {
        border-color: #00adef;
        outline: none; }
      label.radio-check input:disabled {
        color: #999; }
      label.radio-check input.has-error {
        color: #d9534f; }

input[type="text"], input[type="email"], input[type="password"], input[type="search"], input[type="email"], input[type="tel"], input[type="url"], input[type="date"] {
  display: block;
  position: relative;
  height: 30px;
  min-width: 146px;
  width: 100%;
  padding: 6px 8px;
  border: 1px solid #999;
  border-radius: 4px;
  font-family: "CorpoSRegular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #666;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s;
  -webkit-appearance: none; }
  input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="date"]:focus {
    border-color: #00adef;
    outline: none; }
  input[type="text"]:disabled, input[type="email"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="email"]:disabled, input[type="tel"]:disabled, input[type="url"]:disabled, input[type="date"]:disabled {
    color: #999;
    background-color: #e6e6e6; }

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none; }

input[type=date]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none; }

input[type=date]::-webkit-clear-button {
  display: none;
  -webkit-appearance: none; }

select, textarea {
  display: inline-block;
  position: relative;
  height: 30px;
  min-width: 146px;
  width: 100%;
  padding: 6px 8px;
  border: 1px solid #999;
  border-radius: 4px;
  font-family: "CorpoSRegular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #666;
  background-color: #fff;
  background-image: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s; }
  select:focus, textarea:focus {
    border-color: #00adef;
    outline: none; }
  select:disabled, textarea:disabled {
    color: #999;
    background-color: #e6e6e6; }

textarea {
  min-height: 100px;
  overflow: auto; }

/* MODULES */
.badge {
  min-width: 14px;
  height: 14px;
  display: inline-block;
  margin-top: -2px;
  padding: 0 2px;
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  line-height: 14px;
  vertical-align: middle;
  white-space: nowrap;
  color: #fff;
  background-color: #0088c6; }
  @media (min-width: 768px) {
    .badge {
      min-width: 18px;
      height: 18px;
      font-size: 12px;
      line-height: 18px; } }
  .badge.mini {
    min-width: 12px;
    height: 12px;
    font-size: 8px;
    line-height: 12px; }
  .badge.success {
    background-color: #5cb85c; }
  .badge.warning {
    background-color: #f0ad4e; }
  .badge.error {
    background-color: #d9534f; }

.thumbnail {
  max-width: 100%;
  display: inline-block;
  position: relative;
  padding: 4px;
  margin-bottom: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border 150ms ease-in-out 0ms; }
  .thumbnail:hover {
    border-color: #00adef; }
  .thumbnail a {
    width: 100%;
    height: 100%;
    min-height: 100px;
    display: block;
    position: relative; }
  .thumbnail img {
    display: block;
    max-width: 100%; }
  .thumbnail .thumbnail-caption {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2px;
    text-align: center;
    background-color: #000;
    opacity: .5;
    color: #fff; }
  .thumbnail .thumbnail-star {
    position: absolute;
    top: 6%;
    right: 4%;
    font-size: 18px;
    color: #f0ad4e; }

.divider {
  display: block;
  width: 100%;
  height: 0%;
  margin-bottom: 18px;
  border-bottom: 1px solid #e6e6e6; }

.panel {
  margin-bottom: 8px;
  border: 1px solid transparent;
  border-radius: 4px; }
  .panel.primary {
    border-color: #337ab7; }
    .panel.primary .panel-heading {
      color: #fff;
      background-color: #0088c6;
      border-color: #0088c6; }
    .panel.primary .panel-footer {
      background-color: #f5f5f5;
      border-top: 1px solid #ddd; }
  .panel.secondary {
    border-color: #4dc6f4; }
    .panel.secondary .panel-heading {
      color: #fff;
      background-color: #4dc6f4;
      border-color: #4dc6f4; }
    .panel.secondary .panel-footer {
      background-color: #f5f5f5;
      border-top: 1px solid #ddd; }
  .panel .panel-heading {
    padding: 8px 10px 0 10px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px; }
    .panel .panel-heading::after {
      clear: both;
      content: "";
      display: table; }
    .panel .panel-heading i {
      font-size: 18px; }
    .panel .panel-heading h3 {
      display: inline-block; }
    .panel .panel-heading .btn-group {
      float: right; }
      .panel .panel-heading .btn-group button {
        min-width: 30px;
        line-height: 1;
        background-color: inherit;
        color: inherit;
        padding-right: 0;
        padding-left: 0; }
  .panel .panel-breadcrumb {
    display: table;
    width: 100%;
    position: relative;
    overflow: visible;
    text-align: left; }
    .panel .panel-breadcrumb::after {
      clear: both;
      content: "";
      display: table; }
    .panel .panel-breadcrumb .panel-breadcrumb-item {
      display: block;
      float: left;
      padding: 6px 6px 6px 62px;
      position: relative;
      vertical-align: middle;
      color: #000;
      background-color: #fff;
      font-family: "CorpoARegularCondensed", serif;
      font-size: 18px;
      line-height: 22px;
      border-bottom: 1px solid #0088c6;
      opacity: 1;
      white-space: nowrap; }
      .panel .panel-breadcrumb .panel-breadcrumb-item:after {
        content: "";
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        border-left: 17px solid #fff;
        position: absolute;
        right: -16px;
        top: 0;
        z-index: 1; }
      .panel .panel-breadcrumb .panel-breadcrumb-item:before {
        content: "";
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        border-left: 17px solid #fff;
        position: absolute;
        left: 0;
        top: 0; }
      .panel .panel-breadcrumb .panel-breadcrumb-item:first-child {
        padding-left: 44px;
        border-top-left-radius: 3px; }
        .panel .panel-breadcrumb .panel-breadcrumb-item:first-child span {
          left: 12px; }
      .panel .panel-breadcrumb .panel-breadcrumb-item:last-child {
        border-top-right-radius: 3px; }
      .panel .panel-breadcrumb .panel-breadcrumb-item:first-child:before, .panel .panel-breadcrumb .panel-breadcrumb-item:last-child:after {
        display: none; }
      .panel .panel-breadcrumb .panel-breadcrumb-item:only-of-type {
        width: 100%; }
      .panel .panel-breadcrumb .panel-breadcrumb-item:nth-last-child(2):first-child, .panel .panel-breadcrumb .panel-breadcrumb-item:nth-last-child(2):first-child ~ .panel-breadcrumb-item {
        width: calc(100% / 2); }
      .panel .panel-breadcrumb .panel-breadcrumb-item:nth-last-child(3):first-child, .panel .panel-breadcrumb .panel-breadcrumb-item:nth-last-child(3):first-child ~ .panel-breadcrumb-item {
        width: calc(100% / 3); }
      .panel .panel-breadcrumb .panel-breadcrumb-item:nth-last-child(4):first-child, .panel .panel-breadcrumb .panel-breadcrumb-item:nth-last-child(4):first-child ~ .panel-breadcrumb-item {
        width: calc(100% / 4); }
      .panel .panel-breadcrumb .panel-breadcrumb-item:nth-last-child(5):first-child, .panel .panel-breadcrumb .panel-breadcrumb-item:nth-last-child(5):first-child ~ .panel-breadcrumb-item {
        width: calc(100% / 5); }
      .panel .panel-breadcrumb .panel-breadcrumb-item:nth-last-child(6):first-child, .panel .panel-breadcrumb .panel-breadcrumb-item:nth-last-child(6):first-child ~ .panel-breadcrumb-item {
        width: calc(100% / 6); }
      .panel .panel-breadcrumb .panel-breadcrumb-item + .panel-breadcrumb-item:before {
        border-left: 17px solid #0088c6; }
      .panel .panel-breadcrumb .panel-breadcrumb-item + a.panel-breadcrumb-item:hover:before {
        border-left: 17px solid #fff; }
      .panel .panel-breadcrumb .panel-breadcrumb-item.disabled, .panel .panel-breadcrumb .panel-breadcrumb-item.disabled:hover {
        cursor: default;
        background-color: #fff;
        color: #bfbfbf; }
        .panel .panel-breadcrumb .panel-breadcrumb-item.disabled span, .panel .panel-breadcrumb .panel-breadcrumb-item.disabled:hover span {
          opacity: .3; }
        .panel .panel-breadcrumb .panel-breadcrumb-item.disabled:after, .panel .panel-breadcrumb .panel-breadcrumb-item.disabled:hover:after {
          border-left: 17px solid #fff; }
      .panel .panel-breadcrumb .panel-breadcrumb-item.active:before {
        border-left: 17px solid #fff; }
      .panel .panel-breadcrumb .panel-breadcrumb-item.active.current {
        box-shadow: -3px 0px 0 0 #0088c6, -1px 1px 4px #0088c6;
        font-weight: bold; }
        .panel .panel-breadcrumb .panel-breadcrumb-item.active.current:before {
          border-left: 17px solid #fff; }
      .panel .panel-breadcrumb .panel-breadcrumb-item.active.current, .panel .panel-breadcrumb .panel-breadcrumb-item.active, .panel .panel-breadcrumb .panel-breadcrumb-item:hover {
        background-color: #0088c6;
        color: #fff; }
        .panel .panel-breadcrumb .panel-breadcrumb-item.active.current:after, .panel .panel-breadcrumb .panel-breadcrumb-item.active:after, .panel .panel-breadcrumb .panel-breadcrumb-item:hover:after {
          border-left: 17px solid #0088c6; }
      .panel .panel-breadcrumb .panel-breadcrumb-item span {
        border-radius: 100%;
        width: 22px;
        height: 22px;
        font-size: 14px;
        line-height: 22px;
        margin: 6px 0;
        position: absolute;
        top: 0;
        left: 30px;
        font-weight: bold;
        text-align: center;
        background-color: #fff;
        color: #000;
        box-shadow: 0 0 0 1px #0088c6; }
  .panel .panel-body {
    padding: 8px;
    border-radius: 4px; }
    .panel .panel-body::after {
      clear: both;
      content: "";
      display: table; }
    @media (min-width: 768px) {
      .panel .panel-body {
        min-height: 210px; } }
  .panel .panel-footer {
    padding: 10px 15px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; }

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  background-color: transparent; }
  table > thead > tr.success > th, table > thead > tr.success > td, table > tbody > tr.success > th, table > tbody > tr.success > td, table > tfoot > tr.success > th, table > tfoot > tr.success > td {
    background-color: #eaf6ea; }
  table > thead > tr.success:hover > th, table > thead > tr.success:hover > td, table > tbody > tr.success:hover > th, table > tbody > tr.success:hover > td, table > tfoot > tr.success:hover > th, table > tfoot > tr.success:hover > td {
    background-color: #e3f3e3; }
  table > thead > tr.warning > th, table > thead > tr.warning > td, table > tbody > tr.warning > th, table > tbody > tr.warning > td, table > tfoot > tr.warning > th, table > tfoot > tr.warning > td {
    background-color: #fdf3e4; }
  table > thead > tr.warning:hover > th, table > thead > tr.warning:hover > td, table > tbody > tr.warning:hover > th, table > tbody > tr.warning:hover > td, table > tfoot > tr.warning:hover > th, table > tfoot > tr.warning:hover > td {
    background-color: #fceedb; }
  table > thead > tr.error > th, table > thead > tr.error > td, table > tbody > tr.error > th, table > tbody > tr.error > td, table > tfoot > tr.error > th, table > tfoot > tr.error > td {
    background-color: #fae7e6; }
  table > thead > tr.error:hover > th, table > thead > tr.error:hover > td, table > tbody > tr.error:hover > th, table > tbody > tr.error:hover > td, table > tfoot > tr.error:hover > th, table > tfoot > tr.error:hover > td {
    background-color: #f8dede; }
  table > thead > tr > th, table > thead > tr > td, table > tbody > tr > th, table > tbody > tr > td, table > tfoot > tr > th, table > tfoot > tr > td {
    padding: 4px 8px;
    line-height: 20px;
    font-size: 14px;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: left; }
  table > thead > tr > th[class*="cols-"], table > tbody > tr > th[class*="cols-"], table > tfoot > tr > th[class*="cols-"] {
    position: static;
    float: none;
    display: table-cell;
    margin: 0; }
  table > thead > tr > th {
    vertical-align: top;
    border-bottom: 2px solid #ddd;
    font-weight: bold; }
  table > caption + thead > tr:first-child > th, table > caption + thead > tr:first-child > td, table > colgroup + thead > tr:first-child > th, table > colgroup + thead > tr:first-child > td, table > thead:first-child > tr:first-child > th, table > thead:first-child > tr:first-child > td {
    border-top: 0; }
  table > tbody + tbody {
    border-top: 2px solid #ddd; }
  table label {
    padding: 0; }
  table.striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9; }
  table.hover > tbody > tr:hover {
    background-color: #f5f5f5; }
  table.bordered {
    border: 1px solid #ddd; }
    table.bordered > thead > tr > th, table.bordered > thead > tr > td, table.bordered > tbody > tr > th, table.bordered > tbody > tr > td, table.bordered > tfoot > tr > th, table.bordered > tfoot > tr > td {
      border: 1px solid #ddd; }
    table.bordered > thead > tr > th, table.bordered > thead > tr > td {
      border-bottom-width: 2px; }
  table.condensed > thead > tr > th, table.condensed > thead > tr > td, table.condensed > tbody > tr > th, table.condensed > tbody > tr > td, table.condensed > tfoot > tr > th, table.condensed > tfoot > tr > td {
    padding: 5px; }
  table.noborder th, table.noborder td {
    border: 0 none;
    padding: 0 8px; }
  table.enlarged > thead > tr > th, table.enlarged > tbody > tr > td {
    height: 38px;
    vertical-align: middle; }
  @media (min-width: 0) and (max-width: 800px) {
    .table-responsive.no-more-table table {
      /* Force table to not be like tables anymore */ }
      .table-responsive.no-more-table table table, .table-responsive.no-more-table table thead, .table-responsive.no-more-table table tbody, .table-responsive.no-more-table table th, .table-responsive.no-more-table table td, .table-responsive.no-more-table table tr {
        display: block; }
      .table-responsive.no-more-table table {
        /* Hide table headers (but not display: none;, for accessibility) */ }
        .table-responsive.no-more-table table > thead > tr {
          position: absolute;
          top: -9999px;
          left: -9999px; }
        .table-responsive.no-more-table table > thead > tr, .table-responsive.no-more-table table > tbody > tr, .table-responsive.no-more-table table > tfoot > tr {
          border: 1px solid #ccc; }
          .table-responsive.no-more-table table > thead > tr > th, .table-responsive.no-more-table table > thead > tr > td, .table-responsive.no-more-table table > tbody > tr > th, .table-responsive.no-more-table table > tbody > tr > td, .table-responsive.no-more-table table > tfoot > tr > th, .table-responsive.no-more-table table > tfoot > tr > td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
            white-space: normal;
            text-align: left; }
            .table-responsive.no-more-table table > thead > tr > th:before, .table-responsive.no-more-table table > thead > tr > td:before, .table-responsive.no-more-table table > tbody > tr > th:before, .table-responsive.no-more-table table > tbody > tr > td:before, .table-responsive.no-more-table table > tfoot > tr > th:before, .table-responsive.no-more-table table > tfoot > tr > td:before {
              /* Now like a table header */
              position: absolute;
              /* Top/left values mimic padding */
              top: 6px;
              left: 6px;
              width: 45%;
              padding-right: 10px;
              white-space: nowrap;
              text-align: left;
              font-weight: bold;
              /* Label the data */
              content: attr(data-title); } }
  .table-responsive.unseen-column table th.hide-xs, .table-responsive.unseen-column table th.hide-sm, .table-responsive.unseen-column table th.hide-md, .table-responsive.unseen-column table td.hide-xs, .table-responsive.unseen-column table td.hide-sm, .table-responsive.unseen-column table td.hide-md {
    display: none; }
  @media (min-width: 420px) {
    .table-responsive.unseen-column table th.hide-xs, .table-responsive.unseen-column table td.hide-xs {
      display: table-cell; } }
  @media (min-width: 768px) {
    .table-responsive.unseen-column table th.hide-sm, .table-responsive.unseen-column table td.hide-sm {
      display: table-cell; } }
  @media (min-width: 992px) {
    .table-responsive.unseen-column table th.hide-md, .table-responsive.unseen-column table td.hide-md {
      display: table-cell; } }

table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column; }

table td[class*="col-"], table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell; }

caption {
  padding-top: 4px 8px;
  padding-bottom: 4px 8px;
  color: #999;
  text-align: left; }

/* Bootstrap Responsive Table */
/*
.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
  @include susy-breakpoint(xs) {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid $table-border-color;
    > .table {
      margin-bottom: 0;
      > thead, > tbody, > tfoot {
        > tr {
          > th, > td {
            white-space: nowrap;
          }
        }
      }
    }
    > .table-bordered {
      border: 0;
      > thead, > tbody, > tfoot {
        > tr {
          > th:first-child, > td:first-child {
            border-left: 0;
          }
          > th:last-child, > td:last-child {
            border-right: 0;
          }
        }
      }
      > tbody, > tfoot {
        > tr:last-child {
          > th, > td {
            border-bottom: 0;
          }
        }
      }
    }
  }
}*/
ul.inline::after {
  clear: both;
  content: "";
  display: table; }

ul.inline li {
  float: left; }
  ul.inline li a {
    display: block;
    padding: 12px 15px; }

.tabs-responsive {
  position: relative; }

.tabs {
  margin-bottom: 0;
  list-style: none; }
  .tabs::after {
    clear: both;
    content: "";
    display: table; }
  .tabs > li {
    position: relative;
    display: block; }
    .tabs > li > a {
      position: relative;
      display: block;
      padding: 5px 8px; }
      .tabs > li > a:hover, .tabs > li > a:focus {
        text-decoration: none;
        background-color: #d9d9d9; }
      .tabs > li > a > .tabs-icon {
        padding-right: 4px; }
      .tabs > li > a.closable {
        padding-right: 20px; }
        .tabs > li > a.closable > .tabs-icon-close {
          padding: 0;
          position: absolute;
          right: 6px;
          bottom: 9px;
          cursor: pointer;
          visibility: hidden; }
        .tabs > li > a.closable:hover > .tabs-icon-close {
          visibility: visible; }
    .tabs > li.disabled > a {
      color: #f4f4f4; }
      .tabs > li.disabled > a:hover, .tabs > li.disabled > a:focus {
        color: #f4f4f4;
        text-decoration: none;
        background-color: transparent;
        cursor: not-allowed; }
  .tabs + .menu {
    display: none; }
  .tabs > li {
    float: left;
    max-width: 150px;
    min-width: 10%; }
    .tabs > li > a {
      color: #000;
      background-color: #f4f4f4;
      margin-right: 4px;
      line-height: 1.428571429;
      border: 1px solid transparent;
      border-radius: 4px 4px 0 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
      .tabs > li > a:hover {
        border-color: #666 #666 #999;
        cursor: pointer; }
    .tabs > li.active > a, .tabs > li.active > a:hover, .tabs > li.active > a:focus {
      color: #fff;
      background-color: #0088c6;
      border-bottom-color: transparent;
      cursor: default;
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
    .tabs > li.disabled > a {
      color: #999;
      background-color: #f4f4f4;
      border-color: transparent;
      border-left-width: 0;
      border-right-width: 0; }
      .tabs > li.disabled > a:hover {
        color: #999;
        background-color: #f4f4f4;
        cursor: not-allowed; }
  @media (min-width: 0) and (max-width: 800px) {
    .tabs-responsive .tabs {
      display: none;
      margin-top: 28px;
      margin-bottom: 20px;
      border-top: 1px solid #999; }
      .tabs-responsive .tabs + .menu {
        display: block;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
        max-height: 30px;
        background-color: #f4f4f4;
        border: 1px solid transparent; }
        .tabs-responsive .tabs + .menu:hover {
          background-color: #d9d9d9; }
        .tabs-responsive .tabs + .menu > span {
          display: inline-block;
          line-height: 1.428571429;
          font-size: 14px;
          padding: 3px 12px; }
          .tabs-responsive .tabs + .menu > span.nav-menu-btn {
            cursor: pointer;
            float: right; }
      .tabs-responsive .tabs > li {
        float: none;
        margin-bottom: 0;
        max-width: 100%; }
        .tabs-responsive .tabs > li > a {
          color: #000;
          border: 1px solid transparent;
          border-bottom: 1px solid #999;
          border-radius: 0;
          margin-right: 0; }
          .tabs-responsive .tabs > li > a:hover {
            cursor: pointer;
            border-color: transparent transparent #999; }
        .tabs-responsive .tabs > li.active > a, .tabs-responsive .tabs > li.active > a:hover, .tabs-responsive .tabs > li.active > a:focus {
          color: #fff;
          background-color: #0088c6;
          border-bottom: 1px solid #0088c6;
          cursor: default; }
        .tabs-responsive .tabs > li.disabled > a {
          color: #999;
          border-bottom-color: transparent; }
          .tabs-responsive .tabs > li.disabled > a:hover {
            cursor: not-allowed; } }

.boxnav {
  margin-bottom: 33px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px; }
  .boxnav > .boxnav-group {
    width: 100%; }
    .boxnav > .boxnav-group::after {
      clear: both;
      content: "";
      display: table; }
    .boxnav > .boxnav-group:last-child > .boxnav-item {
      border-bottom-width: 1px; }
    .boxnav > .boxnav-group > .boxnav-item {
      position: relative;
      padding-bottom: 28px;
      color: #666;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 33.3333333333%;
      float: left; }
      .boxnav > .boxnav-group > .boxnav-item:last-child {
        float: right;
        margin-right: 0;
        border-right-width: 1px; }
      .boxnav > .boxnav-group > .boxnav-item:first-child {
        border-right-width: 0; }
      .boxnav > .boxnav-group > .boxnav-item span {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 42px;
        transform: translateY(-50%);
        font-size: 11px;
        line-height: 13px;
        white-space: normal; }
      .boxnav > .boxnav-group > .boxnav-item i {
        font-size: 20px; }
  .boxnav > .boxnav-toolbar {
    width: 100%; }
    .boxnav > .boxnav-toolbar::after {
      clear: both;
      content: "";
      display: table; }
    .boxnav > .boxnav-toolbar:last-child > .boxnav-item {
      border-top-width: 1px; }
    .boxnav > .boxnav-toolbar > .boxnav-item {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 25%;
      float: left;
      margin: 0; }
      .boxnav > .boxnav-toolbar > .boxnav-item:last-child {
        float: right;
        border-right-width: 1px; }
      .boxnav > .boxnav-toolbar > .boxnav-item:first-child {
        border-right-width: 0; }
  .boxnav .boxnav-item {
    display: inline-block;
    width: 100%;
    padding: 8px 0;
    border: 1px solid #999;
    border-right-width: 0;
    border-bottom-width: 0;
    text-align: center;
    line-height: 20px;
    color: #333; }
    .boxnav .boxnav-item:first-of-type {
      border-right-width: 1px; }
    .boxnav .boxnav-item:hover {
      z-index: 2;
      color: #333;
      background-color: #e6e6e6; }
    .boxnav .boxnav-item.active {
      color: #fff;
      background-color: #0088c6;
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .boxnav > .boxnav-item {
    padding: 14px 0;
    font-size: 32px;
    text-align: center; }
    .boxnav > .boxnav-item i {
      display: inline-block; }
    .boxnav > .boxnav-item span {
      display: inline-block;
      font-size: 14px;
      line-height: 16px; }
      .boxnav > .boxnav-item span strong {
        display: block; }
  .boxnav > .boxnav-top .boxnav-item:first-child {
    border-top-left-radius: 4px; }
  .boxnav > .boxnav-top .boxnav-item:last-child {
    border-top-right-radius: 4px; }
  .boxnav > .boxnav-bottom .boxnav-item:first-child {
    border-bottom-left-radius: 4px; }
  .boxnav > .boxnav-bottom .boxnav-item:last-child {
    border-bottom-right-radius: 4px; }
  .boxnav .boxnav-select {
    border: 1px solid #999;
    border-radius: 4px; }
    .boxnav .boxnav-select.top {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-width: 0; }
    .boxnav .boxnav-select label {
      cursor: pointer;
      text-align: center;
      padding: 8px 0;
      text-align: center;
      line-height: 20px;
      color: #333;
      font-family: "CorpoSDemi", sans-serif;
      font-weight: normal;
      border-radius: 4px; }
      .boxnav .boxnav-select label:hover {
        color: #333;
        background-color: #e6e6e6; }
      .boxnav .boxnav-select label > span {
        margin-left: 4px; }
    .boxnav .boxnav-select > input[type=checkbox] {
      position: absolute;
      top: -9999px;
      left: -9999px; }
    .boxnav .boxnav-select > ul {
      display: none; }
      .boxnav .boxnav-select > ul li a {
        display: block;
        padding: 0 12px;
        line-height: 30px;
        font-family: "CorpoSRegular", sans-serif; }
    .boxnav .boxnav-select > input[type=checkbox]:checked ~ ul {
      display: block; }
    .boxnav .boxnav-select > input[type=checkbox]:checked ~ label {
      color: #333;
      background-color: #e6e6e6;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }
      .boxnav .boxnav-select > input[type=checkbox]:checked ~ label > span {
        transform: rotate(180deg); }

.modal {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  text-align: left; }
  .modal .modal-dialog {
    position: relative;
    margin: 5% auto; }
    .modal .modal-dialog.default {
      width: auto; }
    .modal .modal-dialog.small {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 33.3333333333%;
      float: left;
      float: none; }
      .modal .modal-dialog.small .modal-body {
        min-height: 5em;
        max-height: calc(95vh - 8em); }
    .modal .modal-dialog.medium {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
      float: left;
      float: none; }
      .modal .modal-dialog.medium .modal-body {
        min-height: 10em;
        max-height: calc(90vh - 8em); }
    .modal .modal-dialog.large {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 75%;
      float: left;
      float: none; }
      .modal .modal-dialog.large .modal-body {
        min-height: 15em;
        max-height: calc(90vh - 8em); }
    .modal .modal-dialog .modal-content {
      position: relative;
      background-color: #fff;
      border: 1px solid #999;
      border-radius: 4px;
      box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
      background-clip: padding-box;
      outline: 0;
      /*
            .modal-header {
                padding: 8px 8px 8px 15px;
                border-bottom: 1px solid #ccc;
                min-height: 1.5em;
                max-height: 1.5em;
                font-family: "CorpoARegularCondensed", serif;
                font-size: 24px;
                @include clearfix;
                .modal-title {
                    display: inline-block;
                    float: left;
                    margin: 0;
                    line-height: 1em;
                    i {
                        position: relative;
                        font-size: 20px;
                        top: -1px;
                        margin-right: 4px;
                    }
                }
                .modal-controls {
                    display: inline-block;
                    float: right;
                    line-height: 1.5em;
                    font-size: 16px;
                    font-weight: bold;
                    span {
                        display: inline-block;
                        min-width: 1.5em;
                        text-align: center;
                        border: 1px solid transparent;
                        border-radius: 2px;
                        cursor: pointer;
                        margin-right: -6px;
                    }
                    span:last-child {
                        margin-right: 0;
                    }
                    span:hover {
                        border: 1px solid #ccc
                    }
                }
            }
            .modal-body {
                position: relative;
                padding: 8px 15px;
                text-align: left;
                font-family: "CorpoSRegular", sans-serif;
                overflow-x: hidden;
                overflow-y: auto;
            }
            .modal-footer {
                padding: 8px 15px;
                text-align: right;
                border-top: 1px solid #ccc;
                @include clearfix;
                .btn + .btn {
                    margin-left: 5px;
                    margin-bottom: 0;
                }
            }

            */ }
      .modal .modal-dialog .modal-content.primary {
        border-color: #337ab7; }
        .modal .modal-dialog .modal-content.primary .modal-heading {
          color: #fff;
          background-color: #0088c6;
          border-color: #0088c6; }
        .modal .modal-dialog .modal-content.primary .modal-footer {
          background-color: #f5f5f5;
          border-top: 1px solid #ddd; }
      .modal .modal-dialog .modal-content.secondary {
        border-color: #4dc6f4; }
        .modal .modal-dialog .modal-content.secondary .modal-heading {
          color: #fff;
          background-color: #4dc6f4;
          border-color: #4dc6f4; }
        .modal .modal-dialog .modal-content.secondary .modal-footer {
          background-color: #f5f5f5;
          border-top: 1px solid #ddd; }
      .modal .modal-dialog .modal-content .modal-heading {
        padding: 8px 10px 0 10px;
        border-bottom: 1px solid transparent;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px; }
        .modal .modal-dialog .modal-content .modal-heading::after {
          clear: both;
          content: "";
          display: table; }
        .modal .modal-dialog .modal-content .modal-heading i {
          font-size: 18px; }
        .modal .modal-dialog .modal-content .modal-heading h3 {
          display: inline-block; }
        .modal .modal-dialog .modal-content .modal-heading .btn-group {
          float: right; }
          .modal .modal-dialog .modal-content .modal-heading .btn-group button {
            min-width: 30px;
            line-height: 1;
            background-color: inherit;
            color: inherit;
            padding-right: 0;
            padding-left: 0; }
      .modal .modal-dialog .modal-content .modal-body {
        padding: 8px;
        border-radius: 4px;
        overflow-x: hidden;
        overflow-y: auto; }
      .modal .modal-dialog .modal-content .modal-footer {
        padding: 10px 15px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px; }

.modal-backdrop {
  /*display: none;*/
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
  /*background-color: rgba(0,0,0,1);*/
  opacity: .75; }

/* Angular UI Datepicker adaption */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  text-align: left;
  font-size: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box; }
  .dropdown-menu.pull-right {
    right: 0;
    left: auto; }
  .dropdown-menu table {
    outline: none;
    margin-bottom: 0; }
    .dropdown-menu table tbody tr td, .dropdown-menu table tbody tr th, .dropdown-menu table thead tr td, .dropdown-menu table thead tr th {
      padding: 2px; }
      .dropdown-menu table tbody tr td.text-center, .dropdown-menu table tbody tr th.text-center, .dropdown-menu table thead tr td.text-center, .dropdown-menu table thead tr th.text-center {
        vertical-align: baseline; }
      .dropdown-menu table tbody tr td button, .dropdown-menu table tbody tr th button, .dropdown-menu table thead tr td button, .dropdown-menu table thead tr th button {
        padding: 3px 8px;
        min-width: 0;
        background-color: #fff;
        border-radius: 3px;
        border: 1px solid #e6e6e6; }
  .dropdown-menu .glyphicon.glyphicon-chevron-left:before {
    content: "\f053"; }
  .dropdown-menu .glyphicon.glyphicon-chevron-right:before {
    content: "\f054"; }

.open > .dropdown-menu {
  display: block; }

.dropdown-menu-right {
  left: auto;
  right: 0; }

.dropdown-menu-left {
  left: 0;
  right: auto; }

.pull-right > .dropdown-menu {
  right: 0;
  left: auto; }

input[data-datepicker-popup] {
  background-color: transparent;
  z-index: 1; }

.icon-calendar {
  float: right;
  margin-top: -24px;
  margin-right: 8px; }

/* SECTIONS */
main {
  height: auto;
  position: relative;
  text-align: left;
  padding-top: 16px; }
  @media (min-width: 768px) {
    main.grid {
      padding-top: 61px; }
    .scp main {
      padding-top: 106px; } }

header {
  width: 100%;
  position: relative;
  text-align: left;
  background-color: #000;
  z-index: 10; }
  @media (min-width: 768px) {
    header {
      position: fixed;
      top: 0;
      left: 0; } }
  header .grid {
    text-align: center; }
  header .logo {
    height: 45px;
    width: 122px;
    margin: 8px auto;
    display: inline-block;
    background-image: url("../img/header/logo.png");
    background-size: 122px 45px; }
  header nav {
    display: none;
    margin: 0 auto;
    padding-right: 10px; }
    header nav a {
      display: inline-block;
      margin: 4px 4px 5px 4px;
      padding-bottom: 2px;
      text-align: center;
      font-size: 12px;
      font-family: "CorpoSLight", sans-serif;
      color: #999; }
      @media (min-width: 768px) {
        header nav a {
          margin: 9px 10px 5px 10px;
          font-size: 14px; } }
      header nav a:hover {
        color: #00adef;
        border-bottom: 1px solid #00adef; }
      header nav a i, header nav a i.link-icon {
        display: block;
        position: relative;
        margin: 0 auto 4px auto;
        color: #fff;
        font-size: 20px; }
        header nav a i .badge.mini, header nav a i.link-icon .badge.mini {
          position: absolute;
          left: 60%;
          bottom: -2px; }
  header .search-form {
    display: none;
    padding: 0; }
    @media (min-width: 768px) {
      header .search-form {
        margin: 16px 0 0 16px; } }
    header .search-form .form-group {
      padding: 0;
      display: inline-block; }
      header .search-form .form-group input {
        height: 30px;
        border-color: #fff; }
        @media (min-width: 992px) {
          header .search-form .form-group input {
            width: 224px; } }
      header .search-form .form-group button {
        border-color: #fff; }
  header label[for="menu-toggle"] {
    display: block;
    position: absolute;
    right: 16px;
    top: 16px;
    font-size: 30px;
    color: #fff; }
  header input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  header input[type=checkbox]:checked ~ .search-form, header input[type=checkbox]:checked ~ nav {
    display: block; }
  @media (min-width: 768px) {
    header {
      text-align: left; }
      header .logo {
        float: left; }
      header nav, header .search-form {
        display: block;
        float: right;
        padding: 0; }
      header label[for="menu-toggle"] {
        display: none; } }

.favourites {
  padding-bottom: 36px; }
  .favourites::after {
    clear: both;
    content: "";
    display: table; }
  @media (min-width: 420px) {
    .favourites .thumbnail {
      width: 49.1525423729%;
      float: left;
      margin-right: 1.6949152542%; }
      .favourites .thumbnail:nth-child(even) {
        float: right;
        margin-right: 0; } }
  @media (min-width: 768px) {
    .favourites .thumbnail {
      width: 15.2542372881%;
      float: left;
      margin-right: 1.6949152542%; }
      .favourites .thumbnail:nth-child(even) {
        width: 15.2542372881%;
        float: left;
        margin-right: 1.6949152542%; } }

#tab-nav {
  width: 100%;
  padding-top: 8px; }
  @media (min-width: 768px) {
    #tab-nav {
      position: fixed;
      z-index: 10;
      top: 61px;
      left: 0;
      background-color: #fff;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); } }

@media (min-width: 768px) {
  aside {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    background-color: #fff; } }

/* PAGES */
#customerSearchSlide {
  margin-top: 15px; }
  #customerSearchSlide::after {
    clear: both;
    content: "";
    display: table; }
  #customerSearchSlide table {
    cursor: pointer; }
    #customerSearchSlide table:hover td {
      background-color: #e6e6e6; }
  #customerSearchSlide button {
    margin-top: 4px; }

/*# sourceMappingURL=style.css.map */

/* Custom */
.dropdown-list{
  position: absolute;
  padding: 5px;
  z-index: 999 !important;
  background: #333;
}
.dropdown-list li{
  padding: 5px;
  color: white;
  font-size: 15px;
}

#menu_dropdown li {
  cursor: pointer;
}
[data-ng-click], [ng-click] {
    cursor: pointer;
}