body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Custome styles */
.menu-dropdown{
  position: absolute !important;
  background: #000;
  z-index: 99999 !important;
  color: white;
  list-style: none;
}
.menu-dropdown li{
  padding: 10px 20px;
}
#tab-nav{
  z-index: 1;
}
.right-align{
	text-align:right;
}
input[type="text"].tinyTextbox{
	width:20%; 
	min-width:40px;
	display:inline;
}
input[type="text"].MutliTextbox{
	display:inline;
	width:70%;
	min-width:138px;
}
.result-accord-line{
	border-bottom:1px solid #e6e6e6; 
	width:98%;
}
.glyphicon.result-accord-icon{
	top:-7px; 
	cursor:pointer;
}

/* Custom tms */
.d-n{
	display: none;
}
.tms-box{
	position: absolute;
	border: 2px solid #666;
	border-radius: 4px;
	/*padding: 10px;*/
	width: 250px;
	z-index: 999;
	background: white;
	font-weight: normal;
}
.tms-ellipsis{
	-webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin-top: 4px;
}
.tms-box-sort{
	padding: 7px;
	border-bottom: 2px solid #666;
}
.tms-box-search{
	padding: 7px;
}
.tms-box-search i{
	position: absolute;
	color: #999;
	z-index: 9999;
	left: 15px;
	margin-top: 7px;
}
.tms-box-search input{
	padding-left: 30px;
}
.m-rl-200{
	margin-left: -200px;
}

.color-blue {
  color: blue;
}
a[data-popover]{
	cursor:pointer;
}

.content-popover{
	word-wrap: break-word;
	font-size: 14px;
	font-weight: bold;
}

.popover{
	margin-left : -8%;
	width:auto;
	height:auto;
}
.arrow {
    left: 90% !important;
}
.even{
	background-color:#ddd;
} 
.dob {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 120px;
}